* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}

h2, h3 {
    color: darkblue;
}


header {
    background-color: darkblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.sobremim {
    background-color: darkgrey;
    margin-top: 20px;
    padding: 10px;
    width: 60%;
    border-radius: 5px;
}

.contato {
    background-color: darkgrey;
    padding: 10px;
    width: 60%;
    border-radius: 5px;
}

article {
    background-color: darkgrey;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;

}

.blocos {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

}

.projetos {
    background-color: rgb(118, 150, 168);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    margin-top: 40px;
}


footer {
    background-color: darkblue;
    color: white;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center; 
    height: 50px;
    
}